.header {
    height: 80px;
    background-color: #fafcfe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a {
    color: #080808;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

.header a:hover {
    color: orange;
}